@import './variable.scss';
@import 'mixins.scss';

.location {
    display: flex;
    flex-direction: row-reverse;
    gap: $gap;
    
    h2{
        @include h2Style;

        @media only screen and (max-width: 645px) {
            text-align: left;
        }
    }

        @media only screen and (max-width: 645px) {
            flex-direction: column;        
        }


    &__map {

        display: flex;
        flex-direction: column;
        
        img{
            max-width: 450px;
            margin: 0;
            width: 90%;
        }
    }
}

.location__side{
    width: 50%;
    text-align: left;
    padding: $padding;
    border-radius: $border-radius;
    background-color: $background-color;
    @media only screen and (max-width: 645px) {
        width: 100%;
    }
}