@import 'mixins';
@import 'variable';

.introduction{
    width: 100%;
    margin: auto auto  50px auto;


    h1{
        margin-top: 0;
        @include h2Style;
        text-align: center;
        font-size: 3.2rem;
        border-bottom: 1px solid;
        padding-bottom: 5px;
    }

    .introduction_div{
        display: flex ;
    
        @media only screen and (max-width: 645px) {
            flex-direction: column-reverse;
            align-items: center;
            }
    }

    .introduction_side{
        width: 50%;

        @media only screen and (max-width: 645px) {
            width: 100%;
        }

        h2{
            @include h2Style;
        }
    }

    .introduction__photo{
        position: relative;
        display: flex;

        img{
            width: 50%;
            min-width: 300px;
            margin: 0 auto auto auto;
            border-radius: $border-radius;
            @media only screen and (max-width: 645px) {
                width: 100%;
            }
        }
    }   
}


