@import '../components/mixins.scss';
@import '../components/variable.scss';
.no_RDV{
    font-size: 20px;
    background-color: rgb(212, 180, 180);
    padding: 15px;
    border-radius: $border-radius;
    text-align: center;
    font-size: 25px;

    .no_RDV__link{
        text-decoration: underline;

    }
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .contacts__inside{
        width: 45%;
        padding: $padding;
        background-color: $background-color;
        margin: 20px auto;
        border-radius: $border-radius;
    }

}