@import '../components/mixins.scss';
@import '../components/variable.scss';

.tool{
    display: flex;
    flex-direction: column;
    gap: 50px;

    h2{
        @include h2Style;
    }

    .tool__article{
        display: flex;
        flex-direction: row;
        background-color: antiquewhite;
        padding: 10px;
        border-radius: 20px;
        gap: $gap;
        width: 80%;

        img{
            width: 300px;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius;
            margin: auto;

        }

        .tool__title{
            color: rgb(109, 74, 31);
        }
    }

    .tool_two, .tool_four{
        flex-direction: row-reverse;
        margin: auto 0 auto auto;
    }
}