@import '../components/mixins.scss';

.tool{
    display: flex;
    flex-direction: column;
    gap: 50px;

    h2{
        @include h2Style;
    }

    .tool__article{
        width: 65%;
        background-color: antiquewhite;
        padding: 10px;
        border-radius: 20px;
    }

    .tool_two, .tool_four{
        margin: auto 0 auto auto;
    }
}