.App {
display: flex;
flex-direction: column;
min-height: 100vh;
}

.content {
  flex: 1; /* Permet à la section principale de s'étendre pour remplir l'espace disponible */
}

body{
  width: 100%;
}

main{
  margin: 130px auto 30px auto;
  width: 80%;
  border-left: 1px solid;
  border-right: 1px solid;
}

